<% content_for :title, "Little Buddha - Videos" %>

<div class="wrapper"><!--Start of page wrapper-->

	<div id="media_list"><!--Start of media boxes list-->
		<h1>Videos</h1>
		<ul>
			<li><!--Start of video 1 link box-->
				<p><a class="inline" href="#video_1"><img class="thumb_border" src="/images/video_thumb_1.jpg" alt="Image of Little Buddha Bassist Playing"></a></p>
				<div style="display:none;">
					<div id="video_1">
						<div class="lightbox">
							<iframe width="590" height="395" src="http://www.youtube.com/embed/IlidXkVpROQ" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<p class="media_title">Little Buddha - <span>Beautiful</span></p>
			</li><!--End of video 1 link box-->
		
			<li><!--Start of video 2 link box-->
				<p><a class="inline" href="#video_2"><img class="thumb_border" src="/images/video_thumb_2.jpg" alt="Image from the Little Buddha - Therapy Video"></a></p>
				<div style="display:none;">
					<div id="video_2">
						<div class="lightbox">
							<iframe width="590" height="395" src="http://www.youtube.com/embed/MgV4pcCjIyI" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<p class="media_title">Little Buddha - <span>Therapy</span></p>
			</li><!--End of video 2 link box-->
		
			<li><!--Start of video 3 link box-->
				<p><a class="inline" href="#video_3"><img class="thumb_border" src="/images/video_thumb_3.jpg" alt="Image of Little Buddha Chilling Out"></a></p>
				<div style="display:none;">
					<div id="video_3">
						<div class="lightbox">
							<iframe width="590" height="395" src="http://www.youtube.com/embed/o2_ddqQd-wI" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<p class="media_title">Little Buddha - <span>250 Subscribers</span></p>
			</li><!--End of video 3 link box-->
		
			<li><!--Start of video 4 link box-->
				<p><a class="inline" href="#video_4"><img class="thumb_border" src="/images/video_thumb_4.jpg" alt="Image of Little Buddha in a Interview"></a></p>
				<div style="display:none;">
					<div id="video_4">
						<div class="lightbox">
							<iframe width="590" height="395" src="http://www.youtube.com/embed/VjE0_6UkRpc" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
				</div>
				<p class="media_title">Little Buddha - <span>Live @ GreenSide</span></p>
			</li><!--End of video 4 link box-->

		</ul>
	</div><!--End of media boxes list-->
	
</div><!--End of page wrapper-->

<script>
$(document).ready(function(){
	
	//Active naviagation link
	$("#media").addClass("active");
	
  	});
</script>
