<% content_for :title, "Little Buddha - New Post" %>

<div class="wrapper"><!--Start of page wrapper-->
	
	<div id="main_admin">
		<h1>New Post</h1>

		<%= render 'form' %>
	</div>
	
</div><!--End of page wrapper-->
