<% content_for :title, "Little Buddha - Shows" %>

<div class="wrapper"><!--Start of page wrapper-->
	
    <div id="main_left"><!--Start of show list-->
		<h1>Shows</h1>
		
		<h3 class="show_date">10th July 2013 | 20:00</h3>
		<p class="show_venue"><THE GARAGE><img src="../images/garage logo.jpg" alt="Image of Garage Venue Logo"></p>
		<h4 class="show_loc">Glasgow Scotland</h4>
		
		<h3 class="show_date">25th July 2013 | 20:00</h3>
		<p class="show_venue"><THE GARAGE><img src="../images/garage logo.jpg" alt="Image of Garage Venue Logo"></p>
		<h4 class="show_loc">Glasgow Scotland</h4>
		
		<h3 class="show_date">7th August 2013 | 20:00</h3>
		<p class="show_venue"><THE GARAGE><img src="../images/garage logo.jpg" alt="Image of Garage Venue Logo"></p>
		<h4 class="show_loc">Glasgow Scotland</h4>
		
		<h3 class="show_date">20th August 2013 | 20:00</h3>
		<p class="show_venue"><THE GARAGE><img src="../images/garage logo.jpg" alt="Image of Garage Venue Logo"></p>
		<h4 class="show_loc">Glasgow Scotland</h4>
		
		<p class="future_shows">MORE DATES TO BE ANNOUNCED SOON STAY TUNED!</p>
		
	</div><!--End of show list-->


   	<div id="main_right_bottom"><!--Start of New Album Release-->
    	<h1>NEW ALBUM</h1>

		<img class="new_album_cover" src="../images/new_album_cover.png" alt="Image of New Album Cover">
		<p>The highly anticipated new album from Little Buddha</p>
		<p><a href="#">OUT NOW!</a></p>
    </div><!--End of New Album Release-->

</div><!--End of page wrapper-->

<script>
$(document).ready(function(){
	
	//Active naviagation link
	$("#shows").addClass("active");
	
});
</script>