<% content_for :title, "Little Buddha - Bio" %>

<div class="wrapper"><!--Start of page wrapper-->
	
	<div id="bio_nav"><!--Start of dynamic navigation-->
		
		<h2>NAVIGATION</h2>
		
		<ul>
			<li><a href="#kat"><h2>Vocals</h2></a></li>
			<li><a href="#grant"><h2>Bass</h2></a></li>
			<li><a href="#ian"><h2>Drums</h2></a></li>
			<li><a href="#gus"><h2>Keyboard</h2></a></li>
		</ul>
		
	</div><!--End of dynamic navigation-->

	<img class="bio_header" id="bio_header" src="/images/bio_header.jpg" alt="Image of Little Buddha band members">

	<div class="bio" id="kat"><!--Start of Kat bio-->
		
		<div class="bio_image_container">
			<img class="bio_image" src="/images/kat_bio.jpg" alt="Image of Little Buddha's Vocalist">
		</div>
		
		<div class="bio_main_info">
			<p class="bio_head_h1_title">Name: </p><p class="bio_head_h1_answer">Kat McDonald</p>
			<p class="bio_head_h2_title">Instrument: </p><p class="bio_head_h2_answer">Vocals</p>
			<p class="bio_head_h2_title">Star Sign: </p><p class="bio_head_h2_answer">Aries</p>
		</div>
		
		<div class="bio_info">
			<p class="question">Tell us about your very first ‘live’ performance?</p>
			
			<p class="answer">4 years old, singing ‘Whisky in the Jar’ with my brother and some of his band mates.</p>
			
			<p class="question">What’s the funniest moment you’ve had with Little Buddha?</p>
						
			<p class="answer">‘Maybe if I do it backwards?’</p>
			
			<p class="question">What’s your favourite Little Buddha song to play live? And why?</p>
			
			<p class="answer">Tough one! That’s like asking a mother to name her favourite child! Probably ‘CCTV’ though.</p>
			
			<p class="question">What the f#@k is ‘Scooty Baw’?</p>
			
			<p class="answer">An addiction. With friction.</p>
			
			<p class="question">Who is your biggest fan?</p>
			
			<p class="answer">Ian’s son, Zach – he knows the words to all our songs!</p>
		</div>
		
		<p class="bio_back_to_top_text">Back To Top</p>
		<div class="bio_back_to_top">
			<div class="flip">
				<div class="card">
					<div class="face front">
						<a href="#back_to_top"><img class="social_icon" src="/images/back_to_top_icon.png" alt="Image of Back to Top Icon"></a>
					</div>
					<div class="face back">
						<a href="#back_to_top"><img class="social_icon" src="/images/back_to_top_up_icon.png" alt="Image of Back to Top Up Icon"></a>
					</div>
				</div>
			</div>
		</div>
		
	</div><!--End of Kat bio-->
	
	<div class="bio" id="grant"><!--Start of Grant bio-->

		<div class="bio_image_container">
			<img class="bio_image" src="/images/grant_bio.jpg" alt="Image of Little Buddha's Bassist">
		</div>

		<div class="bio_main_info">
			<p class="bio_head_h1_title">Name: </p><p class="bio_head_h1_answer">Grant Tyrie</p>
			<p class="bio_head_h2_title">Instrument: </p><p class="bio_head_h2_answer">Bass</p>
			<p class="bio_head_h2_title">Star Sign: </p><p class="bio_head_h2_answer">Virgo</p>
		</div>

		<div class="bio_info">
			<p class="question">Tell us about your very first ‘live’ performance?</p>

			<p class="answer">'I’m not really into doggin’ – sorry.</p>

			<p class="question">What’s the funniest moment you’ve had with Little Buddha?</p>

			<p class="answer">Getting knocked out by Kat swinging a golf club during Scootie Gowf Season 2012.</p>

			<p class="question">What’s your favourite Little Buddha song to play live? And why?</p>

			<p class="answer">‘Plasticene’ because it’s f#@ked up.</p>

			<p class="question">What the f#@k is ‘Scooty Baw’?</p>

			<p class="answer">It’s a way of life!</p>

			<p class="question">Who is your biggest fan?</p>

			<p class="answer">A rapey dude.</p>
		</div>

		<p class="bio_back_to_top_text">Back To Top</p>
		<div class="bio_back_to_top">
			<div class="flip">
				<div class="card">
					<div class="face front">
						<a href="#back_to_top"><img class="social_icon" src="/images/back_to_top_icon.png" alt="Image of Back to Top Icon"></a>
					</div>
					<div class="face back">
						<a href="#back_to_top"><img class="social_icon" src="/images/back_to_top_up_icon.png" alt="Image of Back to Top Up Icon"></a>
					</div>
				</div>
			</div>
		</div>
	</div><!--End of Grant bio-->
	
	<div class="bio" id="ian"><!--Start of Ian bio-->
		
		<div class="bio_image_container">
			<img class="bio_image" src="/images/ian_bio.jpg" alt="Image of Little Buddha's Drummer">
		</div>

		<div class="bio_main_info">
			<p class="bio_head_h1_title">Name: </p><p class="bio_head_h1_answer">Ian ???</p>
			<p class="bio_head_h2_title">Instrument: </p><p class="bio_head_h2_answer">Drummer</p>
			<p class="bio_head_h2_title">Star Sign: </p><p class="bio_head_h2_answer">Leo</p>
		</div>

		<div class="bio_info">
			<p class="question">Tell us about your very first ‘live’ performance?</p>

			<p class="answer">A boy got kicked to death outside the venue where I was playing. There you go.... happy days.</p>

			<p class="question">What’s the funniest moment you’ve had with Little Buddha?</p>

			<p class="answer">Playing a crazy card game on tour bus 2012.</p>

			<p class="question">What’s your favourite Little Buddha song to play live? And why?</p>

			<p class="answer">Bad Man – because I am still learning it.</p>

			<p class="question">What the f#@k is ‘Scooty Baw’?</p>

			<p class="answer">Pretty good exercise.</p>

			<p class="question">Who is your biggest fan?</p>

			<p class="answer">Answers on a postcard etc...</p>
		</div>

		<p class="bio_back_to_top_text">Back To Top</p>
		<div class="bio_back_to_top">
			<div class="flip">
				<div class="card">
					<div class="face front">
						<a href="#back_to_top"><img class="social_icon" src="/images/back_to_top_icon.png" alt="Image of Back to Top Icon"></a>
					</div>
					<div class="face back">
						<a href="#back_to_top"><img class="social_icon" src="/images/back_to_top_up_icon.png" alt="Image of Back to Top Up Icon"></a>
					</div>
				</div>
			</div>
		</div>
		
	</div><!--End of Ian bio-->
	
	<div class="bio" id="gus"><!--Start of Gus bio-->
		
		<div class="bio_image_container">
			<img class="bio_image" src="/images/gus_bio.jpg" alt="Image of Little Buddha's Keyboardist">
		</div>

		<div class="bio_main_info">
			<p class="bio_head_h1_title">Name: </p><p class="bio_head_h1_answer">Gus ???</p>
			<p class="bio_head_h2_title">Instrument: </p><p class="bio_head_h2_answer">Keyboard</p>
			<p class="bio_head_h2_title">Star Sign: </p><p class="bio_head_h2_answer">Cancer</p>
		</div>

		<div class="bio_info">
			<p class="question">Tell us about your very first ‘live’ performance?</p>

			<p class="answer">Playing baritone with school orchestra.</p>

			<p class="question">What’s the funniest moment you’ve had with Little Buddha?</p>

			<p class="answer">‘Coming off at Harthill.  Actual Harthill’</p>

			<p class="question">What’s your favourite Little Buddha song to play live? And why?</p>

			<p class="answer">‘Tilt Switch’ because there’s a really witchy noise in it.</p>

			<p class="question">What the f#@k is ‘Scooty Baw’?</p>

			<p class="answer">A game. A worldwide phenomenon waiting to happen!</p>

			<p class="question">Who is your biggest fan?</p>

			<p class="answer">YOU!</p>
		</div>

		<p class="bio_back_to_top_text">Back To Top</p>
		<div class="bio_back_to_top">
			<div class="flip">
				<div class="card">
					<div class="face front">
						<a href="#back_to_top"><img class="social_icon" src="/images/back_to_top_icon.png" alt="Image of Back to Top Icon"></a>
					</div>
					<div class="face back">
						<a href="#back_to_top"><img class="social_icon" src="/images/back_to_top_up_icon.png" alt="Image of Back to Top Up Icon"></a>
					</div>
				</div>
			</div>
		</div>

	</div><!--End of Gus bio-->
	
</div><!--End of page wrapper-->

<!--Include jQuery Sticky Plugin (Dynamic Navigation)-->
<%= javascript_include_tag "jquery.sticky" %>

<script>
$(document).ready(function(){
	
	//Active naviagation link
	$("#bio").addClass("active");
	
	//Setup sticky awesomeness
    $("#bio_nav").sticky({topSpacing:0});
	
	//Apply 'scrollTo' Effect to # links 
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();
	    var target = this.hash,
	    $target = $(target);
	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 900, 'swing', function () {
	        window.location.hash = target;
	    });
	});
	
});
</script>